<!DOCTYPE html>
<html lang="en" ng-app="panettiere">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cakes | Panettiere Bakeshop</title>
  <meta name="description" content="bakeshop website">
  <meta name="keywords" content="website project, bootstrap project">
  <meta name="author" content="Bernadette Engleman">
  <link rel="shortcut icon" href="../../img/beIcon.png">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheet.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body data-spy="scroll" data-target="#myScrollspy" data-offset="15">

<!-- Header -->
<header>
  <div class="nav-wrap">
    <h1>Panettiere Bakeshop</h1>
    <img src="img/brandimg.jpg" alt="Panettiere Bakeshop" class="smallBrand">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Toggle Button -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarbtn">
            <span>Menu</span>
          </button>
        </div>

        <!-- Menu -->
        <div class="collapse navbar-collapse" id="navbarbtn">
          <ul class="nav navbar-nav">
            <li><a href="cakes.html" class="menu">Cakes</a></li>
            <li><a href="cookies.html" class="menu">Cookies</a></li>
            <li class="logo hidden-xs">
              <a href="index.html" class="smoothScroll">
                <img src="img/brandimg.jpg" alt="Panettiere Bakeshop" width="220" height="80" class="brand">
              </a>
            </li>
            <li><a href="pies.html" class="menu">Pies</a></li>
            <li><a href="pastries.html" class="menu">Pastries</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>

<!-- Content -->
<div class="container-fluid mainContent">
  <!-- Menu -->
  <nav id="myScrollspy">
    <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="110">
      <li><a href="#cupcake">Cupcakes</a></li>
      <li><a href="#layerc">Layer Cakes</a></li>
      <li><a href="#cheesecake">Cheesecakes</a></li>
      <li><a href="#bundt">Bundt Cakes</a></li>
    </ul>
  </nav>

  <main ng-controller="productController as product">

    <!-- Cupcakes -->
    <section  id="cupcake" class="container-fluid well text-center">
      <h2>Cupcakes</h2>

      <!-- Cupcakes Row 1-->
      <div class="row">
        <div ng-repeat="product in cupcakesR1" class="col-sm-3 col-xs-6">
          <div product-gallery></div>
        </div>
      </div>

      <!-- Cupcakes Row 2-->
      <div class="row">
        <div ng-repeat="product in cupcakesR2" class="col-sm-3 col-xs-6">
          <div product-gallery></div>
        </div>
      </div>
    </section>

    <!-- Layer Cakes -->
    <section id="layerc" class="container-fluid well text-center">
      <h2>Layer Cakes</h2>

      <!-- Layer Cake Row 1 -->
      <div class="row">
        <div ng-repeat="product in layerCakesR1" class="col-sm-3 col-xs-6">
          <div product-gallery></div>
        </div>
      </div>

      <!-- Layer Cake Row 2 -->
      <div class="row">
        <div ng-repeat="product in layerCakesR2" class="col-sm-3 col-xs-6">
          <div product-gallery></div>
        </div>
      </div>

      <!-- Layer Cake Row 3 -->
      <div class="row">
        <div ng-repeat="product in layerCakesR3" class="col-sm-3 col-xs-6">
          <div product-gallery></div>
        </div>
      </div>
    </section>

    <!-- Cheesecakes -->
    <section id="cheesecake" class="container-fluid well text-center">
      <h2>Cheesecakes</h2>

      <!-- Cheesecakes Row 1 -->
      <div class="row">
        <div ng-repeat="product in cheeseCakesR1" class="col-sm-3 col-xs-6">
          <div product-gallery></div>
        </div>
      </div>

      <!-- Cheesecakes Row 2 -->
      <div class="row">
        <div ng-repeat="product in cheeseCakesR2" class="col-sm-3 col-xs-6">
          <div product-gallery></div>
        </div>
      </div>
    </section>

    <!-- Bundt Cakes -->
    <section id="bundt" class="container-fluid well text-center">
      <h2>Bundt Cakes</h2>

      <!-- Bundt Cakes Row  -->
      <div class="row">
        <div ng-repeat="product in bundtCakesR1" class="col-sm-3 col-xs-6">
          <div product-gallery></div>
        </div>
      </div>
    </section>

  </main>
</div>

<!-- Footer -->
<footer class="container-fluid text-center">
  <p class="storeName">Panettiere Bakeshop</p>
  <address>45 Rockefeller Plaza, New York, NY 10111</address>

  <p><small>Copyright © <span id="year"></span> Panettiere Bakeshop. All rights reserved.<br>
    <span class="small">Designed and created by:
      <a href="../../index.html" target="_blank">Bernadette Engleman</a><small>&#128279;</small>
    </span>
  </small></p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="js/panettiere.js"></script>
<!-- AngularJS App -->
<script src="js/app.js"></script>

</body>

</html>
