@charset "utf-8";
/* CSS Document */

*, body {
    padding: 0;
    margin: 0;
}

body {
    display: block;
    background: url(../img/background.jpg) center center / cover no-repeat fixed;
}

/* Header */
header {
    width: 100%;
    z-index: 8990;
}

.nav-wrap {
    position: relative;
    margin: 0 auto;
}

h1 {
    position: absolute;
    text-indent: -3000px;
}

/* Menu */
nav.navbar.navbar-default {
    background: #fff5e5;
    border-top-style: hidden;
    box-shadow: 0 3px 3px #e5dcce;
    border-radius: 0;
}

nav.navbar ul.navbar-nav {
    float: none;
    display: block;
    margin: 0 auto;
}

ul.navbar-nav li {
    width: 20%;
    margin-top: 10px;
    text-align: center;
    padding-top: 10px;
}

ul.nav.navbar-nav a.menu {
    background: #583225;
    color: #fff;
    font-family: Georgia, Times, serif;
    font-size: 22px;
    padding: 10px;
    margin: 10px 20% 0;
}

ul.nav.navbar-nav a.menu:hover {
    background: #fff5e5;
    color: #583225;
}

ul.nav.navbar-nav a.menu:before {
    border: 3px solid #583225;
    content: "";
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
}

/* Brand Image */
.brand {
    position: relative;
    z-index: 100;
    margin-top: -25px;
    margin-bottom: -5px;
}

.smallBrand {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 8991;
}

/* Toggle Button */
button.navbar-toggle {
    background-color: #663300;
    color: #ffffff;
    font-family: Georgia, Times, serif;
    font-size: 16px;
    padding: 3px 7px;
}

button.navbar-toggle.collapsed:hover,
button.navbar-toggle.collapsed:focus,
button.navbar-toggle.collapsed:visited {
    background-color: #fff5e5;
    color: #663300;
    border: 2px solid #663300;
}

/* Front Page Slideshow */
#myCarousel {
    width: 80%;
    margin: 20px auto;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

/* All pages */
.mainContent nav#myScrollspy {
    display: block;
    float: left;
    width: 18%;
    padding: 0;
    margin: 30px 0 0;
}

.mainContent main {
    width: 78%;
    margin: 30px 0 0 20%;
    padding: 0;
}

section .well {
    background: #e5dcce;
    box-shadow: 0 0 8px 2px #e5dcce;
    border-radius: 10px;
    margin-top: 30px;
}

main h2 {
    color: #4d3900;
    font-family: Georgia, Times, serif;
    font-weight: bold;
    margin-top: 10px;
}

main h2:hover,
main h2:active,
main h2:visited {
    color: #4d3900;
    text-decoration: none;
}

h3 {
    font-size: 18px;
    margin-top: 8px;
}

img.gallery {
    border-radius: 10px;
    margin-top: 20px;
}

/* Footer */
footer {
    position: relative;
    background: #e5dcce;
    padding-top: 1em;
    margin-top: 25px;
    box-shadow: 0 -4px 3px #e5dcce;
}

.storeName {
    font-size: large;
    margin-bottom: 3px;
}

address {
    font-size: medium;
    margin-bottom: 5px;
}

footer p a,
footer p a:visited,
footer p a:active {
    color: #303030;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
    color: #303030;
}

/* Side Bar Menu */
.affix {
    top: 30px;
    width: 18%;
    z-index: 9000;
}

ul.nav-pills.nav-stacked {
    list-style: none;
    background: #fff5e5;
    box-shadow: 0 0 8px 2px #e5dcce;
    border-radius: 5px;
    margin: 0;
    padding: 0 15px 15px;
}

ul.nav-pills.nav-stacked a {
    display: block;
    position: relative;
    background: #583225;
    color: #fff;
    font-family: Georgia, Times, serif;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    margin-top: 15px;
}

ul.nav-pills.nav-stacked a:before {
    border: 3px solid #583225;
    content: "";
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
}

ul.nav-pills.nav-stacked li.active > a,
.nav-pills.nav-stacked a:hover,
.nav-pills.nav-stacked a:focus {
    background: #fff5e5;
    color: #583225;
}

/***** Media Queries *****/
@media screen and (max-width: 1299px) {
    /* Brand Image */
    .brand {
        width: 100%;
    }
}

@media screen and (max-width: 1199px) {
    /* Front Page Slideshow */
    #myCarousel {
        width: 85%;
    }
}

@media screen and (max-width: 991px) {
    /* Brand Image */
    .brand {
        height: 55px;
    }
    /* Main Menu */
    ul.nav.navbar-nav a.menu {
        font-size: 18px;
        margin: 3% 23% 0;
        padding: 5px;
    }
    /* Front Page Slideshow */
    #myCarousel {
        width: 90%;
    }
    /* Side Bar Menu */
    .affix {
        top: 0;
        left: 0;
        right: 0;
    }
    .mainContent nav#myScrollspy {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .nav-pills.nav-stacked {
        width: 100%;
        border-bottom: 1px solid rgba(0,0,0,.12);
        border-radius: 0 !important;
        padding: 0;
        margin: 0;
    }
    .nav-pills.nav-stacked li {
        float: left;
        margin: 5px 10px 10px;
    }
    ul.nav-pills.nav-stacked a {
        font-size: 17px;
        padding: 5px 10px;
    }
    /* Product Gallery */
    .mainContent main {
        width: 96%;
        margin: 100px 2% 3%;
    }
    img.gallery {
        margin-top: 15px;
    }
}

@media screen and (max-width: 767px) {
    /* Brand Image */
    .smallBrand {
        display: block;
        height: 50px;
    }
    /* Main Menu */
    nav.navbar.navbar-default {
        padding-bottom: 10px;
    }
    #navbarbtn.navbar-collapse {
        border-top-style: hidden;
    }
    nav.navbar ul.navbar-nav li {
        float: left;
        margin: 5px 10px;
    }
    ul.nav.navbar-nav a.menu {
        padding: 5px;
        margin: 5px 5% 0;
    }
    /* Front Page Slideshow */
    #myCarousel {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    /* Main Menu */
    nav.navbar ul.navbar-nav li {
        margin: 5px 5px;
    }
    ul.nav.navbar-nav a.menu {
        font-size: 17px;
        padding: 5px;
        margin: 5px 3% 0;
    }
    /* Side Bar Menu */
    ul.nav-pills.nav-stacked a,
    h3 {
        font-size: 16px;
    }
}

@media screen and (max-width: 450px) {
    /* Main Menu */
    ul.nav.navbar-nav a.menu {
        font-size: 15px;
    }
    /* Side Bar Menu */
    ul.nav-pills.nav-stacked a,
    h3 {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    /* Main Menu */
    ul.nav.navbar-nav a.menu {
        font-size: 13px;
    }
    /* Side Bar Menu */
    ul.nav-pills.nav-stacked a {
        font-size: 12px;
    }
    img.gallery {
        margin-top: 10px;
    }
    footer p {
        font-size: 12px;
    }
    footer address {
        font-size: 14px;
    }
}

@media screen and (max-width: 350px) {
    /* Main Menu */
    ul.nav.navbar-nav a.menu {
        font-size: 11px;
    }
    h3 {
        font-size: 12px;
    }
}